@import '../../styles/variables';
.Navbar {
  padding: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;

  .Hamburger {
    height: 25px !important;
  }
  .menu {
    display: none;

    li {
      
      color: $primary-color;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: #bd4910;
      }

      img {
        height: 80px;
        
      }
    }
  
  }

  

  button {
    border: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #cc59244b;
    border-radius: 15px;

    &:hover {
      background-color: #6f7c2d57;
      color: $secondary-color;
    }
  }
}

@media screen and (min-width: 800px) {
  .Hamburger {
    display: none;
  }

  .Navbar {
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      list-style-type: none;
      padding: 0;
      margin-left: -190px;
    }
  }
}

/// 
/// 
@media screen and (max-width: 799px) {
  .Navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .menu {
      display: none;
    }

    img {
      height: 80px;
    }
  }
}

