@import '../../styles/variables';
@import '../../styles/mixins';


.hamburgerUl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  list-style-type: none;
  gap: 10px;
  padding: 10px;

  
}
.hamburgerUl p:hover {
  cursor: pointer;
  color:rgb(196 208 186);
}

@media screen and (min-width: 800px) {
  .SideMenu {
    display: flex;
    flex-direction: column;
  }
}
